# Local Netlify folder
.netlify

# IDE
.idea

# Node / Capacitor
node_modules

# Android (local build)
android/.gradle
android/app/build
android/capacitor-cordova-android-plugins/build
android/local.properties

# Vite (generated)
dist

# Local env (optional)
.env
.env.*

# OS
.DS_Store
Thumbs.db
